name: release build

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0
      with:
        versionSpec: '5.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v0

    - name: Development Build Check
      if: "!github.event.release.prerelease"
      shell: pwsh
      run: |
        if ($env:GitVersion_CommitsSinceVersionSource -ne "0") {
          Write-Output "::error:: This is a development build and should not be released. Did you forget to create a new tag for the release?"
          exit 1
        }

    - name: Restore Packages
      run: nuget restore

    - name: Build
      run: msbuild /t:Clean,Build /p:platform="Any CPU" /p:Configuration=Release /p:TargetFramework=net40

    - name: Zip
      run: 7z a -r ${{ format('CnCNet.LauncherStub-v{0}-net40.zip', env.GitVersion_SemVer) }} ./bin/Release/net40/*.*

    - name: Upload Final Artifact to the Release
      uses: softprops/action-gh-release@v2
      with:
        append_body: true
        files: ${{ format('CnCNet.LauncherStub-v{0}-net40.zip', env.GitVersion_SemVer) }}
